.product .price {
  margin-bottom: 5px !important;
  font-size: 20px;
  font-weight: 500;
}

.customer-rating .rating {
  padding-left: 0.8rem;
  font-size: 18px;
  font-weight: 500;
}

.rating .rate-btn {
  margin-top: 10px;
}

.rating .avg-rate {
  font-size: 16px;
  font-weight: 500;
  margin-left: 0.6rem;
}

.add-to-cart-btn {
  background: #001529;
  color: #fffff2;
}

.add-to-cart-btn:hover {
  color: #001529;
  background: #fffff2;
  border-color: #001529;
}

.add-to-cart-btn:focus {
  color: #001529;
  background: #fffff2;
  border-color: #001529;
}
