.product {
  display: flex;
}

.product .price {
  padding-left: 2rem;
  padding-top: 0.3rem;
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: 500;
}

.customer-rating .rating {
  padding-left: 0.8rem;
  font-size: 18px;
  font-weight: 500;
}

.rating .avg-rate {
  font-size: 16px;
  font-weight: 500;
  margin-left: 0.6rem;
}

.add-to-cart-btn {
  background: #001529;
  color: #fffff2;
}

.add-to-cart-btn:hover {
  color: #001529;
  background: #fffff2;
  border-color: #001529;
}

.add-to-cart-btn:focus {
  color: #001529;
  background: #fffff2;
  border-color: #001529;
}
