.login-form .form-input {
  margin-bottom: 1rem;
}

.login-form .form-options {
  margin: auto;
  width: 35%;
}

.form-options span {
  cursor: pointer;
  color: black;
  font-weight: 500;
}

/* content */

.ant-layout-content {
  min-height: 100vh;
}
